li.noteItem {
    background-color: #f1f1f1;
    color: #0e2d1e;
    height: 90px;
    margin-bottom: 10px;
    padding: 10px 0 10px 10px;
    position: relative;
    max-width: 480px;
}


li.noteItem h2 {
    margin: 0;
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: larger;
    color: #4d7e29;
}

li.noteItem h2 a {
    text-decoration: none;
    color: #4d7e29;
}

li.noteItem h2 a:hover {
    color: #61ac27;
}

li.noteItem .noteDate {
    bottom: 10px;
    font-size: smaller;
    position: absolute;
}

li.noteItem .btnDelete {
    position: absolute;
    right: 30px;
    top: 0px;
    transform-origin: top right;
    transform: rotate(-90deg);
    border: none;
    height: 30px;
    width: 90px;
    background-color: #e0e0e0;
    color: #939393;
    border-radius: 0px;
}


li.noteItem .btnDelete:hover {
    background-color: #cb132d;
    color: #f1f1f1;
}