li.folderItem {
    list-style-type: none;
}


li.folderItem a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    background: #cccccc;
    margin: 0 0 8px auto;
    max-width: 180px;
}

li.folderItem a.active {
    color: white;
    font-weight: bold;
    background: black;
}