.btnDelete {
    border: 1px solid #939393;
    padding: 5px;
    background-color: white;
    color: #cb132d;
}

.btnDelete:hover {
    border: 0px solid black;
    padding: 5px;
    background-color: #cb132d;
    color: white;
}