.folderNavList {
    list-style-type: none;
    margin: 10px 0 0;
    padding: 0;
}

.navBtnWrapper {
    max-width: 180px;
    margin: 0 0 0 auto;
}

.navBtnWrapper button {
    margin: 1rem auto;
    background-color: #8dba69;
    border: none;
    font-size: 1.1rem;
    font-weight: 500;
    width: 100%;
    color: #ffffff;
    padding: .5rem;
    text-transform: uppercase;
    border-radius: .2rem;
    transition: all .5s ease-in-out;
}

.navBtnWrapper button a {
  color: white;
}

.navBtnWrapper button:hover {
    background-color: #61ac27;
    border: none;
    color: white;
    box-shadow: .1rem .1rem rgba(0, 0, 0, 0.315);
  }
