@import url('https://fonts.googleapis.com/css?family=Lato|Oswald:700&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    padding: 0;
}

.App {
    display: grid;
    grid-gap: 3rem;
    grid-template-areas: 
        'header header'
        'left content'
}

button {
    border: 1px solid black;
    padding: 5px 10px;
    background-color: white;
}

.notefulNav {
    padding: 10px;
    grid-area: left;
}

.notefulNav button,
button.btn.btnAddNote{
    width: 100%;
    margin-top: 1rem;
    border: none;
    font-size: 1.1rem;
    background: rgba(0, 162, 255, 0.849);
    color: #ffffff;
    padding: .5rem;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: .2rem;
    display: inline-block;
    transition: all .5s ease-in-out;
}

.notefulNav button a,
button.btn.btnAddNote a {
    color: #ffffff;
    text-decoration: none;
}

.notefulNav button:hover,
button.btn.btnAddNote:hover {
    box-shadow: .1rem .1rem rgba(0, 0, 0, 0.315);
    cursor: pointer;
    transform: scale(1.02);
}

.notefulNav ul {
    padding: 0;
}

.notefulContent {
    padding-bottom: 25px;
    margin: 0 auto 0 0;
    grid-area: content;
}