@import url('https://fonts.googleapis.com/css?family=Lato|Oswald:700&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

.App {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 120px 1fr;
    min-height: 100vh;
    grid-template-areas: 
        'header header'
        'left content'
}

header {
    background-color: #8dba69;
    grid-area: header;
    color: #f1f1f1;
    text-align: center;
}

header h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    padding: 0;
}

header h1 a {
    color: #f1f1f1;
    text-decoration: none;
}

.notefulNav {
    height: calc(100vh - 120px);
    overflow: auto;
    grid-area: left;
}

.notefulContent {
    height: calc(100vh - 130px);
    overflow: auto;
    grid-area: content;
    margin-top: 10px;
}

button {
    border-radius: 7px;
    padding: 5px 10px;
    border: 1px solid #939393;
    background-color: #f1f1f1;
    color: black;
    cursor: pointer;
}

button a {
    color: #939393;
    text-decoration: none;
}

button:hover {
    border: 1px solid #939393;
    background-color: #939393;
    color: #f1f1f1;
}